{% load allauth socialaccount %}
{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
    <ul class="provider-list">
        {% for provider in socialaccount_providers %}
            {% if provider.id == "openid" %}
                {% for brand in provider.get_brands %}
                    {% provider_login_url provider openid=brand.openid_url process=process as href %}
                    <li>
                        <button class="btn btn-primary text-light"><a href="{{ href }}" class="provider-link">{{ brand.name }}</a></button>
                    </li>
                {% endfor %}
            {% else %}
                {% provider_login_url provider process=process scope=scope auth_params=auth_params as href %}
                <li>
                    <button class="btn btn-primary"><a href="{{ href }}" class="provider-link  text-light text-decoration-none">{{ provider.name }}</a></button>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
